**Libraries and Data Import**

In [2]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

salary_train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Datasets/SalaryData_Train.csv')
salary_test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Datasets/SalaryData_Test.csv')
string_columns = ["workclass", "education", "maritalstatus", "occupation", "relationship", "race", "sex", "native"]
salary_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:
salary_test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,2,1,7,4,6,3,2,1,0,0,40,37,<=50K
1,38,2,11,9,2,4,0,4,1,0,0,50,37,<=50K
2,28,1,7,12,2,10,0,4,1,0,0,40,37,>50K
3,44,2,15,10,2,6,0,2,1,7688,0,40,37,>50K
4,34,2,0,6,4,7,1,4,1,0,0,30,37,<=50K

**Using a Label Encoder - Categorical to Numerical**

In [3]:
from sklearn import preprocessing
number = preprocessing.LabelEncoder()
for i in string_columns:
  salary_train[i] = number.fit_transform(salary_train[i])
  salary_test[i] = number.fit_transform(salary_test[i])

**Assign the Encoded Variables for train and test Data**

In [4]:
colnames = salary_train.columns
len(colnames[0:13])
trainX = salary_train[colnames[0:13]]
trainY = salary_train[colnames[13]]
testX = salary_test[colnames[0:13]]
testY = salary_test[colnames[13]]

**Model Run and Prediction**

In [5]:
salary_gnb = GaussianNB()

salaryPredict_gnb = salary_gnb.fit(trainX, trainY).predict(testX)

**Accuracy Evaluation of Model**

In [8]:
cmatrix_gnb = confusion_matrix(testY, salaryPredict_gnb)
print(cmatrix_gnb)
print(f'Accuracy {(10759+1209)/(10759+1209+601+2491)}')

[[10759   601]
 [ 2491  1209]]
Accuracy 0.7946879150066402